form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  width: 80vw;
  background: #374765;
}

label {
  font-size: 2.6rem;
}

textarea {
  border: none;
  width: 80%;
  height: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.ToDoForm__buttonContainer {
  margin-top: 20px;
  width: 85%;
  display: flex;
  justify-content: space-around;
}

.ToDoForm__button {
  border-radius: 5px;
  border: none;
  width: 30%;
  background-color: transparent;
  padding: 7px;
  color: #fff;
}

.ToDoForm__button--cancel {
  border: 3px solid #ff0534;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.ToDoForm__button--cancel:hover {
  background-color: #ff0534;
  box-shadow: 0px 5px 15px rgba(255, 5, 52, 0.4);
  transform: translateY(-7px);
  font-weight: 600;
}

.ToDoForm__button--submit {
  border: 3px solid #1cedae;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.ToDoForm__button--submit:hover {
  background-color: #1cedae;
  box-shadow: 0px 5px 15px rgba(28, 237, 174, 0.4);
  transform: translateY(-7px);
  font-weight: 600;
}
